<div id="<%= dom_id item %>">
  <p>
    <strong>Pergunta:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Alternativas:</strong><br>
    <% item.alternatives.each do |alternative| %>
        <%= alternative[0] %> <%= alternative[1] %><br>
    <% end %>
  </p>

  <p>
    <strong>Alternativa correta:</strong>
    <%= item.correct_alternative %>
  </p>

</div>
