<div id="<%= dom_id classroom %>">
  <p>
    <strong>Name:</strong>
    <%= classroom.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= classroom.code %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= classroom.enabled %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= classroom.professor_id %>
  </p>

</div>
