<%= form_with(model: classroom) do |form| %>
  <% if classroom.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
        <% classroom.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="d-flex flex-column justify-content-center align-items-center p-5">
    <div class="d-block">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
    <div class="d-block">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>
</div>

<div class="d-flex ">
  <%= form.submit %>
</div>

<% end %>
