<div id="<%= dom_id close_ended_question %>">
  <p>
    <strong>Description:</strong>
    <%= close_ended_question.description %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= close_ended_question.difficulty %>
  </p>

  <p>
    <strong>Alternative a:</strong>
    <%= close_ended_question.alternative_a %>
  </p>

  <p>
    <strong>Alternative b:</strong>
    <%= close_ended_question.alternative_b %>
  </p>

  <p>
    <strong>Alternative c:</strong>
    <%= close_ended_question.alternative_c %>
  </p>

  <p>
    <strong>Alternative d:</strong>
    <%= close_ended_question.alternative_d %>
  </p>

  <p>
    <strong>Correct alternative:</strong>
    <%= close_ended_question.correct_alternative %>
  </p>

</div>
