<p style="color: green"><%= notice %></p>

<%= render @close_ended_question %>

<div>
  <%= link_to "Edit this close ended question", edit_close_ended_question_path(@close_ended_question) %> |
  <%= link_to "Back to close ended questions", close_ended_questions_path %>

  <%= button_to "Destroy this close ended question", @close_ended_question, method: :delete %>
</div>
