<div id="<%= dom_id exam %>">
  <p>
    <strong>Name:</strong>
    <%= exam.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exam.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= exam.start_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= exam.due_date %>
  </p>

  <p>
    <strong>Time limit:</strong>
    <%= exam.time_limit %>
  </p>

</div>
