<div id="<%= dom_id exam %>">
  <p>
    <strong>Título:</strong>
    <%= exam.name %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= exam.description %>
  </p>

  <p>
    <strong>Data de Início:</strong>
    <%= exam.start_date %>
  </p>

  <p>
    <strong>Data de Vencimento:</strong>
    <%= exam.due_date %>
  </p>

  <p>
    <strong>Duração:</strong>
    <%= exam.duration %>
  </p>

  <p>
    <strong>Tempo Limite:</strong>
    <%= exam.time_limit %>
  </p>

</div>


