<%= form_with(model: exam) do |form| %>
  <div class="row">
    <% if exam.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
        <% exam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="col-12 mb-3">
      <div class="d-flex flex-row justify-content-center">
        <%= form.label :name, "Title", style: "display: block; color: #18A0FB;",  class: 'form-label' %>
      </div>
      <%= form.text_field :name, class:"form-control mb-2 mr-sm-2 me-2 shadow", placeholder: "Title", style: "background-color: #EAF8FF" %>
    </div>

    <div class="col-12 mb-3">
      <div class="d-flex flex-row justify-content-center">
        <%= form.label :description, "Description", style: "display: block; color: #18A0FB;",  class: 'form-label' %>
      </div>
      <%= form.text_area :description, class:"form-control mb-2 mr-sm-2 me-2 shadow", placeholder: "Description", style: "background-color: #EAF8FF", rows: "10" %>
    </div>

    <div class="col-md-6 mb-3">
      <div class="d-flex flex-row justify-content-center">
        <%= form.label :start_date, "Start date", style: "display: block; color: #18A0FB;",  class: 'form-label' %>
      </div>  
      <%= form.datetime_field :start_date, class:"form-control mb-2 mr-sm-2 me-2 shadow", style: "background-color: #EAF8FF; color: #878787;" %>
    </div>

    <div class="col-md-6 mb-3">
      <div class="d-flex flex-row justify-content-center">
          <%= form.label :due_date, "End date", style: "display: block; color: #18A0FB;",  class: 'form-label' %>
      </div>
      <%= form.datetime_field :due_date, class:"form-control mb-2 mr-sm-2 me-2 shadow", style: "background-color: #EAF8FF; color: #878787;" %>
    </div>

    <div class="col-md-6 mb-3">
        <div class="d-flex flex-row justify-content-center">
          <%= form.label :time_limit, "Time limit in Hours", style: "display: block; color: #18A0FB;",  class: 'form-label' %>
        </div>
        <%= form.number_field :time_limit, class:"form-control mb-2 mr-sm-2 me-2 shadow", placeholder: "Time Limit", style: "background-color: #EAF8FF" %>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= link_to 'Cancel', url_for(:back), class: "btn btn-danger", style:"font-weight: bold;"%>
        <button class="btn" type="submit" name="question_type" value="alternative" style = "font-weight: bold; color: #ffffff; background-color: #18A0FB; border: none;">Add Alternative Question</button>
        <button class="btn" type="submit" name="question_type" value="essay" style = "font-weight: bold; color: #ffffff; background-color: #18A0FB; border: none;">Add Essay Question</button>
    </div>
  </div>
<% end %>
