<%= form_with(model: exam) do |form| %>
  <div class="row">
    <% if exam.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
        <% exam.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="col-12 mb-3">
        <%= form.label :name, "Título", style: "display: block",  class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="col-12 mb-3">
        <%= form.label :description, "Descrição", style: "display: block",  class: 'form-label' %>
        <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="col-md-6 mb-3">
        <%= form.label :start_date, "Data de Início", style: "display: block",  class: 'form-label' %>
        <%= form.datetime_field :start_date, class: 'form-control' %>
    </div>

    <div class="col-md-6 mb-3">
        <%= form.label :due_date, "Data de Término", style: "display: block",  class: 'form-label' %>
        <%= form.datetime_field :due_date, class: 'form-control' %>
    </div>

    <div class="col-md-6 mb-3 pt-4">
        <%= form.check_box :duration, class: 'form-check-input' %>
        <%= form.label :duration, "Duração", class: 'form-check-label' %>
    </div>

    <div class="col-md-6 mb-3">
        <%= form.label :time_limit, "Tempo Limite", style: "display: block",  class: 'form-label' %>
        <%= form.number_field :time_limit, class: 'form-control' %>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-danger me-md-2" type="button">Cancelar</button>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
  </div>
<% end %>
