
<!-- Assigning default values for local variables -->

<%= render_navbar current_user %>

<p style="color: green"><%= notice %></p>

<div class="container-fluid p-3">
  <div class="d-flex flex-row justify-content-start align-items-center">
    <h2 class="ps-3">Exams</h2>
  </div>
</div>

<div class="container-fluid justify-content-center px-5 pt-3" id="exams">
    <% if @exams.any? %>
        <div class="row row-cols-2">
            <% @exams.each do |exam| %>
            <div class="col justify-content-center">
                <div class="card p-5">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title"><%= exam.name %></h5>
                        </div>
                        <div class="col-3">
                            <p>Data de Vencimento: <%= exam.due_date %></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <p><%= exam.description %></h5>
                        </div>
                        <div class="col-3">
                            <!-- To do: Adicionar numero real de questoes -->
                            <p>Questões: 12</h5>

                            <p style="font-weight: bold;">Code: <%= exam.code %></p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex flex-row-reverse">
                            <%= link_to "Visualizar", exam, class: "btn btn-primary"%>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    <% else %>

        <h5 style="color: red">There aren't exams to be shown!</h5>

    <% end %>


</div>

<%= render 'layouts/footer' %>