<nav class="navbar bg-white shadow d-flex flex-row justify-content-between" style= "width: 100%" >
    <div style = "width: 25%;" class="mx-3">
        <%= link_to 'javascript:history.back()' do %>
            <i class = "fa fa-angle-left" style="font-size: 3em;"> </i>
        <% end %>
    </div>

    <div style="width: 25%" class="d-flex flex-row justify-content-center align-items-center"><h5 style="color: #18A0FB;"> Question <%=params[:id].to_i+1%> of <%=@questions.length()%><h5></div>

    <!-- Timer -->
    <div style="width: 25%" class="d-flex flex-row justify-content-center">
         <p style="color: #18A0FB;">Remaining Time:  </p>
         <p id="demo" style="font-weight: bold; color: #18A0FB;" class="align-self-center"></p>
    <div>

    <%= javascript_tag do %>
       
        // Set the date we're counting down to
        var countDownDate = new Date(<%= session[:finish_date] %> * 1000).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = hours + "h "
        + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
        }, 1000);

     <% end %>
 
</nav>
